/node_modules
/bower_components
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
# dev mode
# exclude everything
/public/js/dev/*
/public/css/dev/*
# exception to the rule
!/public/js/dev/.gitkeep
!/public/css/dev/.gitkeep